.header-bg {
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  gap: 40px;
  box-sizing: border-box;
  padding: 40px 20px 40px 20px;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.contact {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 10px 20px 10px 20px;
  font-family: "Fraunces";
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
}

.contact:hover {
  background-color: #6ed0ff;
  color: #ffffff;
}

.generic {
  color: #ffffff;
  font-family: "Barlow";
  font-weight: 600;
}

.generic:hover {
  color: #0b77ad;
}

.header-title {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.header-title h1 {
  font-size: 64px;
  font-family: "Fraunces";
  font-weight: 900;
  letter-spacing: 15px;
  color: #ffffff;
  padding-top: 20px;
  text-transform: uppercase;
  margin-top: 40px;
  padding-bottom: 40px;
}

.header-title img {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .header-content {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header-title h1 {
    font-size: 48px;
  }
}
