.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.main-img img {
  width: 100%;
}

.main-content {
  padding-left: 120px;
  box-sizing: border-box;
}

.main-content h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 48px;
  padding-bottom: 40px;
  text-align: left;
  color: hsl(212, 27%, 19%);
}

.main-content p {
  font-family: "Barlow";
  font-weight: 600;
  padding-bottom: 40px;
  text-align: left;
  line-height: 1.6;
  color: hsl(232, 10%, 55%);
}

.main-content a {
  font-family: "Fraunces";
  font-weight: 900;
  letter-spacing: 1.5px;
  text-align: left;
  margin-left: 7px;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  position: relative;
}

hr {
  max-width: 25%;
  margin-left: 0px;
  margin-top: -0.4em;
  border: none;
  border-radius: 5px;
}

.hr-1 {
  border-bottom: 10px solid rgba(255, 255, 0, 0.332);
}

.hr-2 {
  border-bottom: 10px solid rgba(255, 0, 0, 0.222);
}

a:hover > .hr-1 {
  border-bottom: 10px solid rgba(255, 255, 0, 0.945);
}

a:hover > .hr-2 {
  border-bottom: 10px solid rgba(255, 0, 0, 0.555);
}

.main-graphic {
  height: 100vh;
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
}

.main-graphic-content {
  text-align: center;
}

.main-graphic-content h2 {
  font-family: "Fraunces";
  font-weight: 900;
  margin-bottom: 40px;
  padding-top: 490px;
  color: hsl(167, 40%, 24%);
}

.main-graphic-content p {
  font-family: "Barlow";
  font-weight: 600;
  color: hsl(167, 40%, 24%);
}

.main-photography {
  height: 100vh;
  background-image: url("../images/desktop/image-photography.jpg");
  background-position: center;
  background-size: cover;
}

.main-photography-content {
  text-align: center;
}

.main-photography-content h2 {
  font-family: "Fraunces";
  font-weight: 900;
  margin-bottom: 40px;
  padding-top: 490px;
  color: hsl(198, 62%, 26%);
}

.main-photography-content p {
  font-family: "Barlow";
  font-weight: 600;
  color: hsl(198, 62%, 26%);
}
